@tailwind base;
@tailwind components;
@tailwind utilities;

/*#hero{
    background-image: url('../assets/images/navbar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}*/

.nav-link {
  @apply hover:underline decoration-white hover:scale-110;
}

.hamburger {
  curson: pointer;
  width: 23px;
  height: 23px;
  transition: all 1.5s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: black;
  transform: rotate(0);
  transition: all 1s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(180deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
